<ActionBar class="action-bar">
    <!--HACK - we should remove the navigation button-->
    <NavigationButton visibility="collapsed"></NavigationButton>
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()"></NavigationButton>
    <Label class="action-bar-title" text="Edit Facility Details" horizontalAlignment="center"></Label>
    <ActionItem ios.position="right" android.position="right">
        <Label text="Done" class="action-item" verticalAlignment="center" (tap)="onDoneButtonTap()"
            [isEnabled]="labelModel.valid"
            [isUserInteractionEnabled]="labelModel.valid"></Label>
    </ActionItem>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView>
        <StackLayout class="facility-list">

            <Label text="TRANSFER MANIFEST NUMBER" class="facility-list-odd"></Label>
            <TextField #labelModel="ngModel" hint="Facility manifest number field is required" [(ngModel)]="facility.ManifestNumber" class="facility-list-even" required></TextField>

            <GridLayout rows="*, 55, *" columns="auto, *" class="facility-list-odd">
                <Label text="Package Count"></Label>
                <Label col="1" horizontalAlignment="right" class="text-primary facility-list-price">
                    <FormattedString>
                        <Span [text]="facility.PackageCount"></Span>
                    </FormattedString>
                </Label>

                <StackLayout row="1" colSpan="2" verticalAlignment="center">
                    <Slider [(ngModel)]="facility.PackageCount"></Slider>
                </StackLayout>

                <Label text="ADD OR REMOVE IMAGE" row="2" colSpan="2"></Label>
            </GridLayout>

            <StackLayout class="facility-list-even">
                <!--
                MyImageAddRemove is a custom component, that wraps an imagepicker plugin and provides custom design and logic
                on top of it. Check out the custom component at /facilities/facility-detail-edit/my-image-add-remove.
                -->
                <MyImageAddRemove #imageModel="ngModel" [(ngModel)]="facilityImageUrl" required></MyImageAddRemove>
                <!-- <Label *ngIf="!imageModel.valid" class="ng-invalid-image" text="Image field is required"></Label> -->
            </StackLayout>

            <Label class="facility-list-odd" text="PACKAGE TYPE"></Label>

            <StackLayout class="facility-list-even">
                <!--
                MyListSelector is a custom component, that provides custom design and logic for picking an option from a list.
                Check out the custom component at /facilities/facility-detail-edit/my-list-selector.
                -->
                <MyListSelector [(selectedValue)]="facility.FacilityType" [items]="facilityClassOptions" tag="class"></MyListSelector>
            </StackLayout>

            <Label class="facility-list-odd" text="PRODUCT CATEGORY NAME"></Label>

            <StackLayout class="facility-list-even">
                <MyListSelector [(selectedValue)]="facility.ProductCategoryName" [items]="facilityDoorOptions" tag="doors"></MyListSelector>
            </StackLayout>

            <Label class="facility-list-odd" text="PRODUCT NAME"></Label>

            <StackLayout class="facility-list-even">
                <MyListSelector [(selectedValue)]="facility.ProductName" [items]="facilitySeatOptions" tag="seats"></MyListSelector>
            </StackLayout>

            <Label class="facility-list-odd" text="PACKAGED DATE"></Label>

            <StackLayout class="facility-list-even">
                <DatePicker (loaded)="onPickerLoaded($event)" [(selectedValue)]="facility.FacilitydDate" verticalAlignment="center"></DatePicker>
            </StackLayout>

        </StackLayout>

    </ScrollView>

    <ActivityIndicator [busy]="isUpdating"></ActivityIndicator>
</GridLayout>
