<!--
The MyDrawer custom component view is where you define what will be displayed in the app drawer.
Feel free to customize layouts and components to change how your app drawer looks.
-->
<GridLayout rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header">
        <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
        <Label class="sidedrawer-header-brand" text="{{name}}"></Label>
        <Label class="footnote" text="{{email}}"></Label>
    </StackLayout>

    <ScrollView row="1">
        <StackLayout class="sidedrawer-content">
            <MyDrawerItem title="Home" route="/home" icon="&#xf200;" [isSelected]="isPageSelected('Home')">
            </MyDrawerItem>
            <MyDrawerItem title="Facilities" route="/facilities" icon="&#xf015;" [isSelected]="isPageSelected('Facilities')">
            </MyDrawerItem>
            <MyDrawerItem title="Rooms" route="/rooms" icon="&#xf248;" [isSelected]="isPageSelected('Rooms')">
            </MyDrawerItem>
            <MyDrawerItem title="Strains" route="/strains" icon="&#xf226;" [isSelected]="isPageSelected('Strains')">
            </MyDrawerItem>
            <MyDrawerItem title="Items" route="/items" icon="&#xf02c;" [isSelected]="isPageSelected('Items')">
            </MyDrawerItem>
            <MyDrawerItem title="Plant Batches" route="/batches" icon="&#xf06c;" [isSelected]="isPageSelected('Plant Batches')">
            </MyDrawerItem>
            <MyDrawerItem title="Harvests" route="/harvests" icon="&#xf18c;" [isSelected]="isPageSelected('Harvests')">
            </MyDrawerItem>
            <MyDrawerItem title="Packages" route="/packages" icon="&#xf187;" [isSelected]="isPageSelected('Packages')">
            </MyDrawerItem>
            <MyDrawerItem title="Transfers" route="/transfers" icon="&#xf0d1;" [isSelected]="isPageSelected('Transfers')">
            </MyDrawerItem>
            <!-- <MyDrawerItem title="Cars (Demo Page)" route="/cars" icon="&#xf1b9;" [isSelected]="isPageSelected('Cars')">
            </MyDrawerItem> -->

            <StackLayout class="hr-light"></StackLayout>

            <!-- <MyDrawerItem title="Payment" route="/payment" icon="&#xf09d;" [isSelected]="isPageSelected('Payment')">
            </MyDrawerItem>
            <MyDrawerItem title="Buy Kipo Credits" route="/credits" icon="&#xf15a;" [isSelected]="isPageSelected('Credits')">
            </MyDrawerItem> -->
            <MyDrawerItem title="Settings" route="/settings" icon="&#xf013;" [isSelected]="isPageSelected('Settings')">
            </MyDrawerItem>
        </StackLayout>
    </ScrollView>
</GridLayout>
