<!--
The MyDrawer custom component view is where you define what will be displayed in the app drawer.
Feel free to customize layouts and components to change how your app drawer looks.
-->
<GridLayout rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header">
        <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
        <Label class="sidedrawer-header-brand" text="{{name}}"></Label>
        <Label class="footnote" text="{{email}}"></Label>
    </StackLayout>

    <ScrollView row="1">
        <StackLayout class="sidedrawer-content">
            <MyDrawerItem title="Home" route="/home" icon="&#xf200;" [isSelected]="isPageSelected('Home')">
            </MyDrawerItem>
            <MyDrawerItem title="Facilities" route="/facilities" icon="&#xf015;" [isSelected]="isPageSelected('Facilities')">
            </MyDrawerItem>
            <MyDrawerItem title="Items" route="/items" icon="&#xf0ad;" [isSelected]="isPageSelected('Items')">
            </MyDrawerItem>
            <MyDrawerItem title="Plants" route="/plants" icon="&#xf06c;" [isSelected]="isPageSelected('Plants')">
            </MyDrawerItem>
            <MyDrawerItem title="Packages" route="/packages" icon="&#xf009;" [isSelected]="isPageSelected('Packages')">
            </MyDrawerItem>
            <MyDrawerItem title="Cars (Demo Page)" route="/cars" icon="&#xf1b9;" [isSelected]="isPageSelected('Cars')">
            </MyDrawerItem>
            <MyDrawerItem title="Search" route="/search" icon="&#xf002;" [isSelected]="isPageSelected('Search')">
            </MyDrawerItem>

            <StackLayout class="hr-light"></StackLayout>

            <MyDrawerItem title="Wallet" route="/wallet" icon="&#xf15a;" [isSelected]="isPageSelected('Wallet')">
            </MyDrawerItem>
            <MyDrawerItem title="Settings" route="/settings" icon="&#xf013;" [isSelected]="isPageSelected('Settings')">
            </MyDrawerItem>
        </StackLayout>
    </ScrollView>
</GridLayout>
