<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="My Wallet"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Wallet'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent>
      <ScrollView>

          <GridLayout columns="auto, auto, auto" rows="auto, auto, auto, auto, auto, auto">
            <Label col="0" row="0" class="m-t-20 m-b-20 m-l-20 fa fa-large" text="&#xf2c2;" (tap)="onSubscriptionButtonTap()"></Label>
            <Label col="1" row="0" class="m-t-28 m-b-20 m-r-10" text="Subscription" (tap)="onSubscriptionButtonTap()"></Label>
            <Label col="2" row="0" class="m-t-28 m-b-20 m-r-10" text="Bronze" (tap)="onSubscriptionButtonTap()"></Label>

            <StackLayout colSpan="3" row="1" class="hr-light"></StackLayout>

            <Label col="0" row="2" class="m-t-20 m-b-20 m-l-20 fa-b fa-large" text="&#xf379;"></Label>
            <Label col="1" row="2" class="m-t-28 m-b-20 m-r-10" text="Bitcoin"></Label>
            <Label col="2" row="2" class="m-t-28 m-b-20 m-r-10" text="2.00000000"></Label>

            <StackLayout colSpan="3" row="3" class="hr-light"></StackLayout>

            <Label col="0" row="4" class="m-t-20 m-b-20 m-l-20 fa-b fa-large" text="&#xf3d0;"></Label>
            <Label col="1" row="4" class="m-t-28 m-b-20 m-r-10" text="Monero"></Label>
            <Label col="2" row="4" class="m-t-28 m-b-20 m-r-10" text="10.00000000"></Label>

            <StackLayout colSpan="3" row="5" class="hr-light"></StackLayout>
          </GridLayout>

      </ScrollView>
    </GridLayout>
</RadSideDrawer>
