// Custom common variables
@import '../../app-variables';

// Custom styles
.package-list {

    .package-list-even,
    .package-list-odd {
        padding: 10 15;
        border-bottom-width: $border-width;
        border-color: $blue-20;
    }

    .package-list-odd {
        background-color: $blue-10;
        color: $blue-50;
    }

    .package-list-price {
        width: 75;
        text-align: right;
    }

    TextField.ng-invalid {
        placeholder-color: $error;
    }

    .ng-invalid-image {
        color: $error;
    }
}
