// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Import shared animations
@import './shared/animate';

// Import custom theme
@import "./shared/custom";

// nativescript card
.cardStyle {
    background-color: white;
    color: #fff;
}

//Font icon
.fa {
   font-family: "FontAwesome";
}

.fa-b {
  font-family: "fa-brands-400";
}

.fa-small {
  font-size: 12;
}

.fa-large {
  font-size: 36;
}

.fa-s {
  font-family: "fa-solid-900";
}

.fa-r {
  font-family: "fa-regular-400";
}

//Action bar
.action-item,
NavigationButton {
    color: $ab-color;
}

.action-item:disabled {
    color: rgba($ab-color, 0.5);
}

Slider {
  background-color: $accent;
  color: $accent;
}

.text {
    color: $blue-dark;
}

.text-primary {
    color: $accent-dark;
}

.text-secondary {
    color: $blue-50;
}

// Common page class
.page-content {
    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

//Action bar
ActionBar .action-bar-title {
    horizontal-align: center;
}


.login-stack > .loading {
  animation-name: pulse;
  animation-duration: 3s;
}

.login-stack > .login-failed {
  animation-name: shake;
  animation-duration: 3s;
}
