<ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()"></NavigationButton>
    <Label class="action-bar-title" text="Buy Kipo Credits"></Label>
</ActionBar>

<ScrollView>
  <StackLayout class="list-group-item">
    <Label text="Your Credits" class="font-weight-bold m-t-20 m-t-10 m-b-10 m-l-20 m-r-20"></Label>
    <StackLayout class="hr-light"></StackLayout>
    <Label text="Buy credits to fund your account" class="m-t-10 m-b-10 m-l-20 m-r-20"></Label>

    <Label text="<-- credit purchase option -->" class="m-t-10 m-b-10 m-l-20 m-r-20"></Label>
  </StackLayout>
</ScrollView>
