<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Settings"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Settings'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent>
      <ScrollView>

          <GridLayout columns="50, *, auto" rows="auto, auto, auto, auto, auto, auto, auto, auto, auto, auto">
            <Label col="0" row="0" class="m-t-20 m-b-20 m-l-20 fa fa-small" text="&#xf007;"></Label>
            <Label col="1" row="0" class="m-t-20 m-b-20 m-r-10" text="Account Settings"></Label>

            <Label col="0" row="1" class="m-t-20 m-b-20 m-l-20 fa fa-small" text="&#xf09d;"></Label>
            <Label col="1" row="1" class="m-t-20 m-b-20 m-r-10" text="Payment Settings"></Label>

            <Label col="0" row="2" class="m-t-20 m-b-20 m-l-20 fa fa-small" text="&#xf059;"></Label>
            <Label col="1" row="2" class="m-t-20 m-b-20 m-r-10" text="Help Center"></Label>

            <Label col="0" row="3" class="m-t-20 m-b-20 m-l-20 fa fa-small" text="&#xf086;"></Label>
            <Label col="1" row="3" class="m-t-20 m-b-20 m-r-10" text="Help Community"></Label>

            <Label col="0" row="4" class="m-t-20 m-b-20 m-l-20 fa fa-small" text="&#xf02d;"></Label>
            <Label col="1" row="4" class="m-t-20 m-b-20 m-r-10" text="Terms & Policies"></Label>

            <Label col="0" row="5" class="m-t-20 m-b-20 m-l-20 fa fa-small" text="&#xf071;"></Label>
            <Label col="1" row="5" class="m-t-20 m-b-20 m-r-10" text="Report a Problem"></Label>

            <Label col="0" row="6" class="m-t-20 m-b-20 m-l-20 fa fa-small" text="&#xf05a;"></Label>
            <Label col="1" row="6" class="m-t-20 m-b-20 m-r-10" text="About"></Label>

            <StackLayout colSpan="2" row="7" class="hr-light"></StackLayout>

            <Label col="0" row="8" class="m-t-20 m-b-20 m-l-20 fa-s fa-small" text="&#xf2f5;" (tap)="onSignoutButtonTap()"></Label>
            <Label col="1" row="8" class="m-t-20 m-b-20 m-r-10" text="Sign out" (tap)="onSignoutButtonTap()"></Label>
          </GridLayout>

      </ScrollView>
    </GridLayout>

</RadSideDrawer>
