<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Subscription"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Subscription'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent>
            <GridLayout rows="*, *, *" columns="*, *" class="list-group-item-content">
              <Image row="0" [src]="car.imageUrl" stretch="aspectFill" height="120" class="m-r-20" decodeHeight="120"></Image>
              <StackLayout row="0" col="1" verticalAlignment="center" class="list-group-item-text">
                  <Label class="p-b-10">
                      <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                      <FormattedString ios:fontFamily="system">
                          <Span text="&#xf1b9;   " class="fa text-primary"></Span>
                          <Span [text]="car.class"></Span>
                      </FormattedString>
                  </Label>
                  <Label class="p-b-10">
                      <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                      <FormattedString ios:fontFamily="system">
                          <Span text="&#xf085;   " class="fa text-primary"></Span>
                          <Span [text]="car.transmission"></Span>
                          <Span text=" Transmission"></Span>
                      </FormattedString>
                  </Label>
                  <Label>
                      <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                      <FormattedString ios:fontFamily="system">
                          <Span text="&#xf2dc;   " class="fa text-primary"></Span>
                          <Span [text]="car.hasAC ? 'Yes' : 'No'"></Span>
                      </FormattedString>
                  </Label>
              </StackLayout>
          </GridLayout>
    </GridLayout>
</RadSideDrawer>
